[package]
name = "shadowsocks-rust"
version = "1.8.8"
authors = ["Y. T. CHUNG <zonyitoo@gmail.com>"]
description = "shadowsocks is a fast tunnel proxy that helps you bypass firewalls."
repository = "https://github.com/zonyitoo/shadowsocks-rust"
documentation = "https://docs.rs/shadowsocks-rust"
keywords = ["shadowsocks", "proxy", "socks", "socks5", "firewall"]
license = "MIT"
edition = "2018"

[lib]
name = "shadowsocks"

[[bin]]
name = "sslocal"
path = "src/bin/local.rs"

[[bin]]
name = "ssserver"
path = "src/bin/server.rs"

[[bin]]
name = "sstunnel"
path = "src/bin/tunnel.rs"

[[bin]]
name = "ssredir"
path = "src/bin/redir.rs"

[[bin]]
name = "ssurl"
path = "src/bin/ssurl.rs"

#[profile.release]
#lto = true

[features]
default = ["sodium", "rc4", "aes-cfb", "aes-ctr", "trust-dns"]
sodium = ["libsodium-sys"]
rc4 = ["openssl"]
aes-cfb = ["openssl"]
aes-ctr = ["openssl"]
camellia-cfb = ["openssl"]
single-threaded = []
trust-dns = ["trust-dns-resolver"]
redir = []
openssl-vendored = ["openssl/vendored"]

[dependencies]
log = "0.4"
rand = "0.7"
time = "0.2"
clap = "2.33"
env_logger = "0.7"
openssl = { version = "0.10", optional = true }
libc = "0.2"
tokio = { version = "^0.2.7", features = ["full"] }
futures = "0.3"
json5 = "0.2"
base64 = "0.11"
bytes = "0.5"
byteorder = "1"
ring = "0.16"
md-5 = "0.8"
digest = "0.8"
typenum = "1.11"
qrcode = { version = "0.11", default-features = false }
serde_urlencoded = "0.6"
serde = { version = "1.0", features = ["derive"] }
url = "2.1"
byte_string = "1.0"
libsodium-sys = { version = "0.2", optional = true }
miscreant = { version = "0.5", optional = true }
trust-dns-resolver = { version = "0.19", features = ["dns-over-rustls", "dns-over-https-rustls"], optional = true }
hkdf = "0.8"
hmac = "0.7"
sha-1 = "0.8"
lru_time_cache = "0.9"
hyper = "0.13"
tower = "0.3"
pin-project = "0.4"
socket2 = "0.3"
cfg-if = "0.1"
bloomfilter = "^1.0.2"
spin = "0.5"
mio = "0.6"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = ["mswsock", "winsock2"] }
