[package]
name = "shadowsocks-rust"
version = "1.7.0-alpha.20"
authors = ["Y. T. CHUNG <zonyitoo@gmail.com>"]
description = "shadowsocks is a fast tunnel proxy that helps you bypass firewalls."
repository = "https://github.com/zonyitoo/shadowsocks-rust"
documentation = "https://docs.rs/shadowsocks-rust"
keywords = ["shadowsocks", "proxy", "socks", "socks5", "firewall"]
license = "MIT"
edition = "2018"

[lib]
name = "shadowsocks"

[[bin]]
name = "sslocal"
path = "src/bin/local.rs"

[[bin]]
name = "ssserver"
path = "src/bin/server.rs"

[[bin]]
name = "ssurl"
path = "src/bin/ssurl.rs"

[[bin]]
name = "ssdns"
path = "src/bin/ssdns.rs"

[profile.release]
lto = true

[features]
default = ["sodium", "rc4"]
sodium = ["libsodium-ffi"]
rc4 = []

[dependencies]
log = "0.4"
byteorder = "1.2"
rand = "0.5"
time = "0.1"
clap = "2"
env_logger = "0.5"
openssl = "0.10"
libc = "0.2"
futures = "0.1"
tokio-io = "0.1"
tokio = "0.1"
json5 = "0.2"
base64 = "0.9"
bytes = "0.4"
ring = "0.13"
md-5 = "0.7"
digest = "0.7"
typenum = "1.10"
qrcode = { version = "0.7", default-features = false }
serde_urlencoded = "0.5"
serde_derive = "1.0"
serde = "1.0"
url = "1"
byte_string = "1.0"
libsodium-ffi = { version = "0.1", optional = true }
miscreant = { version = "0.4.0-beta", optional = true }
lru-cache = "0.1"
dns-parser = "0.7"
trust-dns-resolver = { version = "0.10", features = ["dns-over-rustls", "dns-over-https-rustls"] }
spin = { version = "0.4", default-features = false }
tokio-process = "0.2.3"

[target.'cfg(unix)'.dependencies]
tokio-signal = "0.2"

[target.'cfg(windows)'.dependencies]
tokio-signal = "0.2"
