Source: shadowsocks-rust
Section: unknown
Priority: optional
Maintainer: Shigure Moe <feng591892871@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/shadowsocks-rust.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/shadowsocks-rust.git

Package: shadowsocks-rust
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
