#  This file is part of shadowsocks-rust.
#
#  This file is default for Debian packaging. See also
#  /etc/default/shadowsocks-rust for environment variables.

[Unit]
Description=Shadowsocks-rust Default Server Service
Documentation=https://github.com/shadowsocks/shadowsocks-rust
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/shadowsocks-rust
DynamicUser=yes
LimitNOFILE=32768
ExecStart=/usr/bin/ssservice server -c ${CONFFILE} ${DAEMON_ARGS}

[Install]
WantedBy=multi-user.target

